# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
packages/client

# dependencies
node_modules
/.pnp
.pnp.js

# testing
coverage
src/coverage
reports/

# production
dist
build
build-server
/build/
.jestCache

# misc
.DS_Store
.awcache
.env.local
.env.development.local
.env.test.local
.env.production.local
.temp_cache

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.idea/
/.vscode/
/storybook/node_modules/
.env
*.iml
reports/
*.tgz

# ignore lock files inside packages direcotry
packages/**/package-lock.json